
#add_move_form_header, #add_move_form {
 width: 80%;
 margin: auto;
 padding-top: 30px;
}


#add_move_submit {
  width: 50%;
  float: left;
  background-color: #6495ED;
  color: white;
}

#move_saved_true {
  color: green;
  margin-left: 10%; 
  padding-top: 20px; 
  margin-bottom: -20px;
}

#move_saved_false {
  color: red;
  margin-left: 10%; 
  padding-top: 20px; 
  margin-bottom: -20px;
}