
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
}


#footer {
  background-color: #9932CC;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
   
            /* Footer height */
}

#footer_links_row {
  padding-top: 5px;
}


.bg {
   background: url("/static/images/Hero_home_web.jpg") 50% 0 no-repeat fixed;
   color: white;
   height: 1000px;
   width: 100%;
   background-size: cover;
   
   }
   
  .offence_tiles {
    border: 1px solid black;
     border-radius: 5px; 
    display: inline-block; 
    padding: 20px; 
    cursor: pointer; 
    background-color: #9932CC; 
    color: white;
  }
  
  .defense_tiles {
    border: 1px solid black; 
    border-radius: 5px; 
    display: inline-block; 
    padding: 20px; 
    cursor: pointer; 
    background-color: #6495ED;
     color: white;
  }
  
  #half_g_off_col, .half_g_off_links {
    text-align: center;
  }
  
  .half_g_off_boxes {
    border: 1px solid black; 
    padding: 10px; 
    display: inline-block;
    margin-bottom: 10px;
  }
  
  
  #half_g_off_img {
    height: 100%;
  }