
header {
    border: 1px solid black;
    background-color: #8B4513;
    color: white;
    text-align: center; 
    height: 60px; 
}

#nav_content_header {
  margin-top: 15px;
  margin-right: 50px;

}

.header_links {
  color: white;
}


