
header {
    border: 1px solid black;
    background-color: #000000;
    color: white;
    text-align: center; 
    height: 60px; 
}

#nav_content_header {
  margin-top: 15px;
  margin-right: 50px;

}

.header_links {
  color: white;
}




footer {
    margin-top: auto;
    border: 1px solid black;
    background-color: #9932CC;
    color: white;
    text-align: center;
     position: absolute;
     bottom: 0;
     width: 100%;
     overflow: hidden;
}

#nav_content_footer {
  margin-top: 15px;

}