{% extends 'base.html' %}
{% load static %}
{% block content %}
	<h1 id="add_move_form_header">Add Move of the Day</h1><br>
  <form id="add_move_form" action="" method="post">
      {% csrf_token %}
      {{form.move_name.label_tag}}<br>
      {{ form.move_name }}<br>
      {{form.move_description.label_tag}}<br>
      {{ form.move_description }}<br>
			{{form.move_position.label_tag}}<br>
			{{ form.move_position }}<br>
      <input id="add_move_submit" type="submit" value="Submit" class="form-control">
  </form>
{% endblock %}